.header-container{
    .username-wrapper{
        color: #000000;
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
        font-size: 1.2vw;
        font-weight: 800;
        i{
            font-size: 1vw;
            margin-right: 1vw;
            font-weight: 600;
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
        }
    }
    .hall-of-fame-wrapper{
        color: #000000;
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
        font-size: 1.2vw;
        font-weight: 800;
        transition: transform 0.2s;
        margin-right: 1vw;
        &:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}