.rules-container {
    background-color: rgba(0, 0, 0, 0.9);
    // background: url("../images/paper-1990111_1280.jpg");
    background-size: 100% 100%;
    color: #ffffff;
    // text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
    padding: 2vw 1vw;
    text-align: justify;
    width: 32vw;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    height: 5vw;
    overflow: hidden;
    &:hover {
        animation: openRules 0.2s ease-in-out forwards;
        cursor: pointer;
    }
    h3 {
        font-size: 1.8vw;
        font-weight: 800;
        margin-bottom: 0;
    }

    h5 {
        font-size: 1vw;
        margin-top: 1vw;
        margin-bottom: 0;
        font-weight: 300;
    }

    h6 {
        font-size: 0.9vw;
        margin-bottom: 0;
        padding-left: 1vw;
        padding-right: 1vw;
        font-weight: 300;
        // text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    }

    .rule-numer-order {
        font-size: 1.1vw;
    }

    .first-do-not-talk {
        font-weight: 300;
        color:red;
        // text-shadow: 0px 0px 2px rgba(255, 0, 0, 1);
    }

    .second-do-not-talk {
        font-weight: 500;
        color: red;
        // text-shadow: 0px 0px 1px rgba(255, 0, 0, 1);
    }

    .buttons-container{
        width: 21vw;
        margin: 0 auto;
        margin-top: 2vw;
    }
    .btn{
        font-size: 1vw;
        padding: 0.4vw 1vw;
    }
    a{
        color: #ffffff;
    }
    @keyframes openRules {
        0% {
            height: 5vw;
        }
        100% {
            height: 42vw;
        }
    }
}