.select-player-container{
    background-color: rgba(0,0,0,0.79);
    width: 100%;
    height: 100%;
    // a{
    //     color: #ffffff;
    //     text-decoration: none;
    //     font-size: 
    //     &:hover{
    //         text-decoration: none;
    //     }
    // }

    .clockify-wrapper{
        color: #ffffff;
    }
}