@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Fondamento:400,400i&display=swap');
@import url('./style/logIn.scss');
@import url('./style/register.scss');
@import url('./style/rules.scss');
@import url('./style/signInWrapper.scss');
@import url('./style/screenWelcome.scss');
@import url('./style/totalPointsByDay.scss');
@import url('./style/header.scss');
@import url('./style/dashboardSelectDay.scss');
@import url('./style/dashboardSelectTeam.scss');
@import url('./style/playersOnField.scss');
@import url('./style/selectPlayer.scss');
@import url('./style/playerCardModal.scss');
@import url('./style/screenUser.scss');
@import url('./style/hallOfFameF1WCList.scss');
@import url('./style/hallOfFameTotalPointsList.scss');
@import url('./style/hallOfFameUserStatsModal.scss');
@import url('./style/screenHallOfFame.scss');
@import url('./style/f1wcPointsCalcModal.scss');
@import url('./style/roundPointsCalcModal.scss');
@import url('./style/teamPickSuccessfullySubmitedModal.scss');
@import url('./style/hallOfFamePlayerListStats.scss');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a:hover{
    text-decoration: none;
    color: steelblue;
}
.modal-backdrop {
    background-color: #000000;;
}

.loader-container{
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    h1{
        margin-bottom: 3vw;
        font-size: 2.4vw;
        color: #ffffff;
    }
    .spinner-border{
        width: 4vw;
        height: 5vw;
    }
    .made-in{
        font-weight: 300;
        color: #ffffff;
        font-size: 1vw;
        margin-left: auto;
        
    }
}

::-webkit-scrollbar {
    width: 0.5vw;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  ::-webkit-scrollbar-thumb {
    background: red; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }